@font-face {
    font-family: roboto-fino;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-lith;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: mavim-r;
    src: url(../fonts/Maven_Pro/MavenPro-Regular.ttf);
}

/* -----geral----- */

* {
    margin: 0;
    padding: 0;
}

/* -----menu----- */

.menu{
    font-size: 10px;
    padding: 3%;
    color: #0E0B5E;
    background-color: #d7dbbf23;
    font-family: roboto-fino;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    cursor: pointer;
}

.nome1 {
    font-size: 25px;
    margin-right: 250px;
    font-family: mavim-r;
    cursor: none;
}

/* -----animação menu----- */

.menu .conteudo {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.menu .conteudo:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* -----container----- */

.container1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.container2 {
    width: 50%;
    height: 78%;
    margin-top: 1.5%;
    background-color: rgba(255, 255, 255, 0.952);
    position: absolute;
    display: flex;
}

.container3 {
    margin-left: 8%;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content:space-evenly;
}


/* -----imagens----- */

#img1 {
    width: 100%;
}

#img2{
    width:100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.self {
    width: 100%;
    height: 100%; 
}

/* -----texto----- */

.identificacao{
    margin-top: 38%;
    line-height: 32px;
    color: #0E0B5E;
    font-family: roboto-lith;
}

#funcao{
    font-size: 15px;
    margin-bottom: 8%;
    font-family: mavim-r;
}

.nome2 {
    font-size: 30px;
    font-family:mavim-r;
}

.contato{
    display: flex;
    flex-direction: column;
    gap: 7px;
    
}

.tipo-contato{
    font-size: 20px;
    color: #0E0B5E;
    font-family:mavim-r;
}

.infomacao{
    font-size: 18px;
    margin-bottom: 5%;
    color: #0E0B5E;
    font-family: roboto-fino;
}

/* ---------links-------- */

.links{
    width: 48%;
    padding: 1%;
    background-color: #0E0B5E;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 20px;
    margin-right: 20px;
}

/* ----responsividade---- */



@media (max-width: 1500px) {
    
    .nome2{
        font-size: 25px;
    }

    #funcao{
        font-size: 10px;
    }

    .tipo-contato{
        font-size: 15px;
    }
    
    .infomacao{
        font-size: 13px;
    }
    
}

@media (max-width: 1200px) {
 
    .nome2{
        font-size: 20px;
    }

    .tipo-contato{
        font-size: 14px;
    }
    
    .infomacao{
        font-size: 12px;
    }
    
}

@media (max-width: 1000px) {

    .menu{
        font-size: 8px;
    }
    .nome1{
        font-size: 17px;
    }
    
    .nome2{
        margin-top: 8px;
        font-size: 17px;
    }

    .tipo-contato{
        font-size: 11px;
    }
    
    .infomacao{
        font-size: 10px;
    }
    
}

@media (max-width: 850px) {
    
    .nome2{
        font-size: 15px;
    }

    .menu{
        display: none;
    }
}

@media (max-width: 750px) {

    #img1{
        display: none;
    }

    #img2{
        width: 40%;
        margin-top: 50px;
        border-radius: 10px;
    }
    
    .container2{
        position: relative;
        flex-wrap: wrap;
    }

    .container3{
        margin:0px;
        align-items: center;
    }

    .contato{
        margin-bottom: 90px;
    }

}